@using CMS.Utilities;
@model PagedResult<CMS.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Index";
    
}

<h1>All Posts</h1>

<p>
    <a asp-action="Create">Create New Post</a>
    @ViewBag.token
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                CategoryId
            </th>
            <th>
                Description
            </th>
            <th>
                CreatedDate
            </th>
            <th>
                PublishedDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.Id) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Post" asp-route-id="@item.Id">Edit </a>
                <a asp-action="Detail" asp-controller="Post" asp-route-id="@item.Id">Detail </a>
                <a asp-action="Delete" asp-controller="Post" asp-route-id="@item.Id">Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-primary @prevDisabled"> Prev </a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-primary @nextDisabled"> Next </a>


@for (int i = 1; i <=Model.TotalPages; i++)
{
    <a asp-action="Index" asp-route-pageNumber="@(i)" class="btn btn-primary"> @i </a>
}
